# Default reviewer, until the different parts gets their own owner
* @bkje14

/A_Getting_started/*@divyaksh-chander
/A_Getting_started_anyscript/* @divyaksh-chander
/A_Getting_started_modeling/*@divyaksh-chander
/Posture_and_movement/* @bkje14


/A_study_of_studies/* @mdabt
/Validation_of_models/* @mdabt
/MuscleRecruitment/lesson7.rst @mdabt


/Making_things_move/* @mdabt
/Advanced_script_features/* @bkje14


/MuscleRecruitment/* @toerholm 
/The_mechanical_elements/* @mdabt



/Muscle_modeling/* @bkje14 
/Parameter_studies_and_optimization/* @mdabt


/ForceDependentKinematics/* @toerholm
/AnyExp4SOLIDWORKS/* @divyaksh-chander


/Finite_element_analysis/* @pgalibarov
/Scaling/* @pgalibarov

# GUI
/Interface_features/intro.rst @bkje14
# Editor
/Interface_features/lesson1.rst @bkje14
# Model tree
/Interface_features/lesson4.rst @bkje14

# Model view window
/Interface_features/lesson2.rst @JDThomsen
# Chart view window
/Interface_features/lesson3.rst @JDThomsen
# Command line application
/Interface_features/lesson5.rst @JDThomsen
# AnyProject
/Interface_features/lesson7.rst @mdabt
# Modifying loaded values (SetValue etc.)
/Interface_features/lesson6.rst @mdabt

/Troubleshooting_anyscript/* @mdabt
