[workspace]
name = "anybody-tutorial"
version = "0.1.0"
description = "Python enviroments for AnyBody's Tutorials"
authors = ["Morten Enemark Lund <mel@anybodytech.com>"]
channels = ["https://prefix.dev/conda-forge", "anybody", "anybody/label/rc"]

platforms = ["win-64","linux-64"]

[tasks]
clean = "rm -rf _build"
linkcheck = {cmd="sphinx-build -M linkcheck . _build -q", depends-on = ["clean"]}
build-pdf = {cmd="sphinx-build -M simplepdf . _build", depends-on = ["clean"]}
build-html = "sphinx-build -M html . _build"
build-html-future = "sphinx-build -M html . _build -t future_tutorials"
build-html-all = "sphinx-build -M html . _build -a"
html = {cmd= 'explorer .\_build\html\index.html', depends-on = ["build-html-all"]}
pdf = {cmd= 'explorer .\_build\simplepdf\Agada-Documentation.pdf', depends-on = ["build-pdf"]}
livehtml = "sphinx-autobuild . _build --port=0  --open-browser -j=4"


[dependencies]
python = ">=3.14,<3.15"
sphinxext-opengraph = ">=0.13.0,<0.14"
sphinx-copybutton = ">=0.5.2,<0.6"
sphinxcontrib-youtube = ">=1.4.1,<2"
linkify-it-py = ">=2.0.3,<3"
ipython = ">=9.8.0,<10"
make = ">=4.4.1,<5"
sphinx-autobuild = ">=2025.8.25,<2026"
sphinx-simplepdf = ">=1.7.0,<2"
sphinx = ">=8.2.3,<9"
pygments_anyscript = ">=1.5.0,<2"
sphinx-togglebutton = ">=0.3.2,<0.4"
sphinx-design = ">=0.6.1,<0.7"
jinja2 = ">=3.1.6,<4"
tomli = ">=2.3.0,<3"
pytest = ">=9.0.2,<10"
myst-parser = ">=4.0.1,<5"
sphinx-book-theme = ">=1.1.4,<2"
myst-nb = ">=1.3.0,<2"
anypytools = ">=1.20.2,<2"
scipy = ">=1.16.3,<2"
ipywidgets = ">=8.1.8,<9"
pydata-sphinx-theme = ">=0.15.4,<0.16"
sphinx-reredirects = ">=1.0.0,<2"



[feature.test.target.win-64.dependencies]
pytest = ">=9.0.2,<10"
pytest-xdist = ">=3.8.0,<4"
anypytools = ">=1.20.2,<2"
debugpy = ">=1.8.19,<2"
pytest-split = ">=0.10.0"
anybodycon = ">=8.2.0beta9"

[feature.test.target.win-64.tasks]
pytest = "pytest"

[environments.test]
features = ["test"]
