pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #f8f8f8; }
.highlight .c { color: #4AA02C } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000FF } /* Keyword */
.highlight .o { color: #111111 } /* Operator */
.highlight .ch { color: #4AA02C } /* Comment.Hashbang */
.highlight .cm { color: #4AA02C } /* Comment.Multiline */
.highlight .cp { color: #0000FF } /* Comment.Preproc */
.highlight .cpf { color: #4AA02C } /* Comment.PreprocFile */
.highlight .c1 { color: #4AA02C } /* Comment.Single */
.highlight .cs { color: #4AA02C } /* Comment.Special */
.highlight .gd { color: #f8f8f8 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #0000FF } /* Keyword.Constant */
.highlight .kd { color: #0000FF } /* Keyword.Declaration */
.highlight .kn { color: #0000FF } /* Keyword.Namespace */
.highlight .kr { color: #0000FF } /* Keyword.Reserved */
.highlight .kt { color: #0000FF } /* Keyword.Type */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #900090 } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .x-Options { font-weight: bold } /* Other.Options */
.highlight .x-Statements { color: #900090 } /* Other.Statements */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .sd { font-style: italic } /* Literal.String.Doc */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */